.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
backend/.venv/

# Logs
*.log

# Environment variables
.env
.env.*
!.env.example

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
build/

# IDE
.vscode/
.idea/
